{% extends "index/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% csrf_token %}
<style>
  #videoElement {
    width: 550px;
    height: 415px;
    background-color: #666;
    transform: rotateY(180deg);
  }
  .boxborder{
	width: 570px;
	height: 435px;
	border: 10px #333 solid;
  }
  .backbtn{
    border-radius: 0;
  }
  .backbtn:hover{
    border-bottom: 1px solid black;
  }
  </style>
  {% csrf_token %}

    <div class="container">
   
      <a style="margin-top: 100px;" href="./index.html" class="btn float-start backbtn"><i style="color: black;" class="fa fa-arrow-left"></i> back</a>
      <section class="section register min-vh-100 d-flex flex-column justify-content-center py-4">
        <div class="container">
          
          <div class="row justify-content-center">
            
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <h1 style="width: 700px;text-align:center;font-weight:bold;">Please stay still for the system to recognise you</h1>
              <br>
              <h1>input employee id here</h1>
                <input type="text" id="EmployeeId" />
                <button onclick="startCamera()" type="button">Submit</button>
              <h1 id="result"></h1> 
              <div class=" boxborder">

              <video autoplay playsinline id="videoElement"></video>
              <canvas id="canvas" width="400" height="300"></canvas>


              </div>


            </div>
          </div>
        </div>

      </section>

    </div>

{% endblock content %}
{% block script %}

  <script>

  function getid() {

  }
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var resultTemp = document.getElementById("result");
  const video = document.querySelector("#videoElement");



var timeLeft = 45;



  // set timer

  function startCamera(){
        video.width = 400;
          video.height = 300;
          if (navigator.mediaDevices.getUserMedia) {
              navigator.mediaDevices.getUserMedia({
                      video: true
                  })
                  .then(function(stream) {

                      console.log("test")
                      video.srcObject = stream;
                      video.play();
                  })
                  .catch(function(err0r) {

                  });
  }
      var timerId = setInterval(countdown, 2000);
  }

 function countdown() {
      var Emloyeeid =document.getElementById("EmployeeId").value;
      if (timeLeft == 0) {
          clearTimeout(timerId);

          return '..'
      } else {
          timeLeft--;
          width = video.width;
          height = video.height;
          context.drawImage(video, 0, 0, width, height);
          var dataTemp = canvas.toDataURL('image/jpeg', 1);
          context.clearRect(0, 0, width, height);

          $.ajax({
                  type: 'POST',
                  url: "{% url 'camera'  %}",
                  data: {
                      'image': dataTemp,
                      'empID': Emloyeeid,
                      csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(data) {
                      console.log(data);
                      console.log(data.valid);
                      document.getElementById("result").innerHTML = data.valid;

                  },
                  error: function(response) {
                      console.log('Error')
                  },
              }

          );
      }
  }
  </script>
  {% endblock script %}