<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Clock In</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>
<style>
  #videoElement {
    width: 550px;
    height: 415px;
    background-color: #666;
    transform: rotateY(180deg);
  }
  .boxborder{
	width: 570px;
	height: 435px;
	border: 10px #333 solid;
  }
  .backbtn{
    border-radius: 0;
  }
  .backbtn:hover{
    border-bottom: 1px solid black;
  }
  </style>
<body>
  {% csrf_token %}

  <main>
    <div class="container">
   
      <a style="margin-top: 100px;" href="./index.html" class="btn float-start backbtn"><i style="color: black;" class="fa fa-arrow-left"></i> back</a>
      <section class="section register min-vh-100 d-flex flex-column justify-content-center py-4">
        <div class="container">
          
          <div class="row justify-content-center">
            
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <h1 style="width: 700px;text-align:center;font-weight:bold;">Please stay still for the system to recognise you</h1>
              <br>

              <div class=" boxborder">

              <video autoplay playsinline id="videoElement"></video>
              <canvas id="canvas" width="400" height="300"></canvas>


              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>

  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  const video = document.querySelector("#videoElement");

  video.width = 400;
  video.height = 300;
  if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({
              video: true
          })
          .then(function(stream) {

              console.log("test")
              video.srcObject = stream;
              video.play();
          })
          .catch(function(err0r) {

          });
  }
  

  function countdown() {
      if (timeLeft == 0) {
          clearTimeout(timerId);

          return '..'
      } else {
          timeLeft--;
          width = video.width;
          height = video.height;
          context.drawImage(video, 0, 0, width, height);
          var dataa = canvas.toDataURL('image/jpeg', 1);
          context.clearRect(0, 0, width, height);

          $.ajax({
                  type: 'POST',
                  url: "{% url 'camera'  %}",
                  data: {
                      'image': dataa,
                      csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(data) {
                      console.log(data)
                  },
                  error: function(response) {
                      console.log('Err0r')
                  },
              }

          );
      }
  }

  var timeLeft = 45;
  var timerId = setInterval(countdown, 1000);

  </script>

</body>

</html>